*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1 #nav {
    display: grid;
    grid-template-columns: auto 200px;
    position: absolute;
    padding: 20px;
    top: 0px;
    width: 100%;
    background-color: #985277;
    height: 70px;
    align-content:center;
    align-items: center;
}

#host:hover {
    transform: translateY(-5px);
    background-color: #FF8C61;
}


    .page1 #nav * {
        text-align: end;
        padding: 10px;
    }


.page1 #title {
    text-align: start;
}



.page1 #joinForm {
    padding: 20px;
}

    .page1 #joinForm * {
        padding: 10px;
        margin: 20px 5px 5px 5px;
        height: 40px;
    }

.page2 #nav {
    display: grid;
    position: absolute;
    text-align: center;
    padding: 20px;
    top: 0px;
    width: 100%;
    background-color: #FAA275;
    height: 70px;
}

.page1 #howToPlay {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #985277;
    text-align: center;
}


.page1 #getRoom * {
    padding: 10px;
    margin: 20px 5px 5px 5px;
}


/* Reset */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
}

/* Enable scroll snapping */
body {
    scroll-snap-type: y mandatory;
}

/* Common page style */
.page {
    height: 100vh; /* full viewport height */
    width: 100%;
    flex-direction: column;
    scroll-snap-align: start;
    transition: transform 0.2s ease-in-out;
    color: white;
}





/* Individual page colors and styles */
.page1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C374C;
}


.page2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8C61;
}

.page3 {
    background-color: #ffe66d;
    color: black;
}


