* {
    margin: 0;
    padding: 0;
}



body {
    background-color: #CE6A85;
}

h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
}

input {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 24px;
    width: 200px;
}
