.vs/mafAI/CopilotIndices/17.14.1577.30250/CodeChunks.db
.vs/mafAI/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
.vs/mafAI/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
.vs/mafAI/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
.vs/mafAI/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
.vs/mafAI/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
.vs/mafAI/FileContentIndex/5df1197f-bab2-4fb2-84dd-986b0a5190fe.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
