*{
        margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    align-self: center;
    font-size: 3em;
}


#wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
    background-color: black;
    color: white;
}